@charset "UTF-8";
/* 百分比宽度布局 */
@import url(../../../node_modules/bootstrap/dist/css/bootstrap.css);
.layout-inblock {
  display: inline-block; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

.layout-valign-left {
  vertical-align: left !important; }

.layout-text-aligin-left {
  text-align: left; }

.layout-valign-right {
  vertical-align: right !important; }

.layout-text-aligin-right {
  text-align: right; }

.layout-valign-top {
  vertical-align: top !important; }

.layout-text-aligin-top {
  text-align: top; }

.layout-valign-bottom {
  vertical-align: bottom !important; }

.layout-text-aligin-bottom {
  text-align: bottom; }

.layout-valign-center {
  vertical-align: center !important; }

.layout-text-aligin-center {
  text-align: center; }

.layout-valign-middle {
  vertical-align: middle !important; }

.layout-text-aligin-middle {
  text-align: middle; }

/* 字体颜色 */
.s-fc-#222 {
  color: #222; }

.s-fc-#333 {
  color: #333; }

.s-fc-#666 {
  color: #666; }

.s-fc-#888 {
  color: #888; }

.s-fc-#ccc {
  color: #ccc; }

.s-fc-#eee {
  color: #eee; }

.s-fc-#dcdcdc {
  color: #dcdcdc; }

/* ico sprite */
.u-ico {
  display: inline-block;
  vertical-align: text-bottom; }
  .u-ico .u-ico-small {
    width: 16px;
    height: 16px; }
  .u-ico .u-ico-medium {
    width: 22px;
    height: 22px; }

.u-ico-add {
  width: 20px;
  background-position: -134px -1px; }
  .u-ico-add .disabled {
    background-position: -187px -1px; }

* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  background-color: #123;
  margin: 0;
  padding: 0;
  min-height: 100%; }

.container {
  width: 100%;
  background-color: #000; }
  .container .section {
    padding: 10px;
    margin: 0 auto; }
  .container .main {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    background: #343; }
  .container .page {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .container .banner {
    color: #fef; }
